<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Adicionar Filme</title>
    <link rel="stylesheet" th:href="@{/css/styleMovie.css}">
</head>
<body>
<div class="login-container" style="padding:25px;">
    <h2>Adicionar Filme</h2>
    <div th:if="${successMessage}" style="color: green; text-align: center;">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" style="color: red; text-align: center;">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:action="@{/movies/add-movie}" th:object="${movie}" th:method="post">
        <div class="input-group">
            <input type="text" name="titulo" placeholder="Título">
            <input type="text" name="autor" placeholder="Autor">
            <input type="text" name="categoria" placeholder="Categoria">
            <input type="text" name="duracao" placeholder="Duração">
            <input type="text" name="editora" placeholder="Editora">
            <input type="text" name="anoLancamento" placeholder="Ano de Lançamento">
        </div>
        <div style="margin-left: 41.5%; margin-bottom: 1%;">
            <button type="submit">Adicionar Filme</button>
        </div>
    </form>
    <div style="margin-left: 41.5%;">
    <button th:onclick="'location.href=\'' + @{/movies/lobby} + '\''">Cancelar</button>
    </div>
</div>
</body>
</html>