<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleLoginRegister.css}">
    <title>Formação SpringBoot</title>
</head>
<body>
<div class="login-container">
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
    <form id="loginForm" th:action="@{/auth/login}" th:method="post">
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
    <div class="signup-link">
        <a th:href="@{/auth/index}">Voltar</a>
    </div>
</div>
</body>
</html>