<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleLoginRegister.css}">

    <title>Formação SpringBoot</title>
</head>
<body>
<div class="login-container">
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/auth/login}" method="post">
        <input type="text" name="username" placeholder="Email">
        <input type="password" name="password" placeholder="Senha">
        <button type="submit">Login</button>
    </form>
    <div class="signup-link">
        <a th:href="@{/auth/index}">Voltar</a>
    </div>
</div>
</body>
</html>