<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registo</title>
    <link rel="stylesheet" th:href="@{/css/styleLoginRegister.css}">
</head>
<body>
<div class="login-container-register">
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
    <form id="registrationForm" th:action="@{/auth/register}" th:method="post">
        <div class="input-group">
            <label for="firstName">Nome:</label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="input-group">
            <label for="lastName">Sobrenome:</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button class="buttonregister" type="submit">Registar</button>
        <div class="signup-link">
            <a th:href="@{/auth/index}">Voltar</a>
        </div>
    </form>
</div>
</body>
</html>